body {

}

h1, h2, h3 {

}

header {

}

footer {
    background-image: linear-gradient(rgb(244, 244, 244), white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #c7c7c7, #f2f2f2, #ffffff);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}